

<div class=" min-h-screen min-w-screen  max-w-screen-2xl bg-[#f0eae7] container flex flex-col content-center md:min-w-[700px] ">
  <div  class="flex justify-center  ">
    <svg class=" h-72 w-96 md:min-w-[1000px]" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <pattern  id="img1" x="0" y="0" width="1" height="1">
          <image  x="0" y="0" width="100%" height="100%" preserveAspectRatio="xMaxYMax slice" href="https://i.pinimg.com/564x/ed/f4/b0/edf4b06dfe0b5d29723ca57afb65eb6b.jpg" />
        </pattern>
      </defs>
      <path fill="url(#img1)" d="M40,-62.6C52.2,-54.5,62.5,-43.9,66.9,-31.4C71.3,-18.9,69.6,-4.6,65.9,8.3C62.2,21.1,56.4,32.5,49.2,45.2C42.1,57.9,33.7,72.1,22.2,75.3C10.7,78.5,-3.9,70.7,-14.8,62.1C-25.7,53.5,-32.8,44.1,-44.9,35.8C-57,27.5,-74,20.3,-82.1,7.7C-90.3,-4.8,-89.5,-22.7,-80.8,-34.8C-72,-46.9,-55.2,-53.3,-40.4,-60.2C-25.6,-67,-12.8,-74.3,0.6,-75.2C13.9,-76.1,27.9,-70.6,40,-62.6Z" transform="translate(100 100)" />
    </svg>
  </div>  
  <h2 class="text-center m-3 text-xl">Registrate</h2>
  <p  class="text-center m-3 max-w-full-sm text-lg">Ya tenés cuenta?  <a class="text-[#1fa2a9]" routerLink="/login">Logueate!</a></p>

    <form class="flex flex-col w items-center ">
      <div class=" my-8 ">
        <img src="../../../assets/usuario.png" alt="" class="w-8 float-left bg-[#eddfd0]/20 rounded-l-xl h-10">
        <input type="text"  [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Nombre..."  class="bg-[#eddfd0]/20 rounded-r-xl h-10">
      </div>

   <div class=" my-8 ">     
    <img src="../../../assets/email.png" alt="" class="w-8 float-left bg-[#eddfd0]/20 rounded-l-xl h-10">

     <input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" type="email" placeholder="Email..."  class="bg-[#eddfd0]/20 rounded-r-xl h-10" >
      </div>

   <div class=" my-8 ">    
    <img src="../../../assets/candado.png" alt="" class="w-8 float-left bg-[#eddfd0]/20 rounded-l-xl h-10">
    
    <input [(ngModel)]="password" [ngModelOptions]="{standalone: true}" type="password" placeholder="Contraseña..."   class="bg-[#eddfd0]/20 rounded-r-xl h-10" >
      </div>

   <div class=" my-8 ">        
    <input   [(ngModel)]="img" [ngModelOptions]="{standalone: true}" type="file"    class="bg-[#eddfd0]/20 rounded-r-xl h-10" >
      </div>
      <button type="button" (click)="newUser()" class=" rounded-2xl  w-52 mb-8 bg-[#1fa2a9] p-3 text-slate-200">Aceptar</button>
    </form>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>


   
  </div>
