<app-navbar></app-navbar>


<table>
    <thead>
        <tr>
            <th>Nombre del Libro</th>
            <th>Autor</th>
            <th>Leído</th>
            <th>Marcar como Leído</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let book of books">
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.status  }}</td>
            <td><input type="checkbox" class="read-checkbox" (change)="toggleRead(book)" [checked]="book.status === 'read'"></td>       
         </tr> -->
         @for (book of books; track book._id) {
            <tr >
                <td>{{ book.name }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.status  }}</td>
                <td><input type="checkbox" class="read-checkbox" (change)="toggleRead(book)" [checked]="book.status === 'read'"></td>       
             </tr> 

         }
    </tbody>
</table>

