<app-navbar></app-navbar>


<table>
    <thead>
        <tr>
            <th>Nombre del Libro</th>
            <th>Autor</th>
            <th>Leído</th>
            <th>Marcar como Leído</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.read ? 'Sí' : 'No' }}</td>
            <td><input type="checkbox" class="read-checkbox" ></td>
        </tr>
    </tbody>
</table>

