<div>

    <h1>Login</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQisiC9w2m6_zFOAL8IVXl-eYnkZyqtDFfZQ2AsjKUWJ6FdjJg2kBaeqdexxrJecZrfO6M&usqp=CAU" alt="">
    <form>



        <label for="usuario">Email:</label>
        <input type="text" placeholder="Email...">

        <label for="Contraseña">Contraseña:</label>
        <input type="text" placeholder="Contraseña...">


    
        <input type="submit" value="Ingresar" routerLink="/home">
    </form>

    <p>No tienes cuenta? <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page" >Registrase</a></p>


</div>
